
#lg {
    background-image: url("img/bgli.png");
}
#lg h1{
    color:aqua;
}
.imglogo{
    height:20%
}
#imgavt {
    border-radius: 10px;
}
#imgavt:hover {
    box-shadow: 4px 8px 8px 8px rgba(0,0,0,0.3);
}
#namenv{
    color:black;
}
#type{
    color: rgb(255, 235, 8);
}

